header{
  text-align: center;
}

h1{
  
    color:blueviolet;
}
body {
    background-color: lightgreen;
  }
  
 #photo { width:400px;
   height:500px;
  border-radius: 60%; 
margin-left: 250px;
}

  #piccontainer {
    margin-left: 200px;
    margin-right: 200px;
  }
  #quote {font-size: 50px;}
  #secondquote {text-align: center;
  font-size: 25px;}
#tabel {background-color: lime;}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}